
.building-panel {
    display: flex;
    align-items: center; /* centre verticalement */
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(45, 45, 53);
}

.building-panel:hover {
    background-color: rgb(57, 57, 67);
    cursor: pointer;
}

.building-image {
    width: 50px;
    border-radius: 3px;
    background-color: rgb(203, 191, 174);
}

.building-info {
    display: flex;
    flex-direction: column; /* force name au-dessus de description */
    justify-content: center; /* centre verticalement si plus d’espace */
    margin-left: 15px;
    color: white;
}

.building-name {
    font-size: 20px;
    font-weight: bold;
}

.building-description {
    font-size: 14px;
    color: rgba(245, 248, 250, 0.8);
}